
div#main_container {
    width:900px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(white,lightblue,white);
  }