
button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#4d4d4d;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}

button:active {
	position:relative;
	top:1px;
}

#main_container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(white, lightblue, white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

#components_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh-30px);
}

.event-transition-enter {
    transform: scale(0);
}

.event-transition-enter-active {
    transform: scale(1);
    transition: transform 200ms;
    transition-timing-function: linear;
}

.event-transition-exit {
    transform: scale(1);
}

.event-transition-exit-active {
    transform: scale(0);
    transition: transform 200ms;
    transition-timing-function: linear;
}
