
#main_container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: linear-gradient(white, lightblue, white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

#components_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh-30px);
}

.event-transition-enter {
    transform: scale(0);
}

.event-transition-enter-active {
    transform: scale(1);
    transition: transform 200ms;
    transition-timing-function: linear;
}

.event-transition-exit {
    transform: scale(1);
}

.event-transition-exit-active {
    transform: scale(0);
    transition: transform 200ms;
    transition-timing-function: linear;
}
